DEBUG=False
SECRET_KEY=CHAVE SECRETA
ALLOWED_HOSTS=localhost, 127.0.0.1

# Configurações do AWS
AWS_ACCESS_KEY_ID = ID DA CHAVE
AWS_SECRET_ACCESS_KEY = CHAVE SECRETA
AWS_STORAGE_BUCKET_NAME = NOME DO BUCKET