[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"

[packages]
gunicorn = "*"
python-decouple = "*"
dj-database-url = "*"
collectfast = "*"
django-s3-folder-storage = "*"
psycopg2-binary = "==2.8.5"
django-debug-toolbar = "*"
pillow = "*"
django-sendgrid-v5 = "*"
django = "==3.1.10"

[requires]
python_version = "3.8"
