[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"

[packages]
django = "*"
gunicorn = "*"
python-decouple = "*"
dj-database-url = "*"
collectfast = "*"
django-s3-folder-storage = "*"
psycopg2-binary = "==2.8.5"
django-debug-toolbar = "*"
pillow = "*"
pytest = "*"
pytest-django = "*"
setuptools = "*"

[requires]
python_version = "3.8"
