/*  Fonts  */

@font-face {

    font-family: 'Architect';
    src: url("../fonts/ArchitectsDaughter-Regular.ttf");

}


@font-face {

    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");

}


/*  General CSS*/
body {

    background: black;
    overflow-x: hidden;

}


header {

    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    min-height: 100%;
    background: #000000;
    z-index: 1;

}

div.logo img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}


div.menu {

    position: relative;
    text-align: center;
    font-family: 'Architect';

}

div.menu nav ul {

    font-size: 18pt;
    list-style: none;
    padding: 0px;
    text-align: center;
    margin-top: 10px;

}

div.menu nav ul li {

    padding: 2%;

}

div.menu nav ul li a {

    text-decoration: none;
    letter-spacing: 5px;
    font-family: 'Architect';
    font-size: 20px;

}

div.copyright {

    font-family: 'Montserrat';
    font-size: 7pt;
    position: relative;
    bottom: 0px;
    color: #D6B9D7;
    text-align: center;

}

/* link colors */

a:link, a:visited, a:active {

    color: #FF69B4;
 }

a:hover {

    color: #D6B9D7;

}


div.social ul {

    position: relative;
    text-align: center;
    padding: 15px;

}


div.social ul li {

    display: inline-block;
    list-style: none;

}


.gallery {

    position: relative;
    left: 17%;
    width: 110%;

}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 0px;
  margin-top: 0.2%;
}

.column img {
  margin-top: 0px;
  vertical-align: middle;
  width: 100%;
}



div.paragraph {

    color: #FF69B4;

}

div.paragraph h1, p.about, ul.new_ul {

    font-family: 'Montserrat';
    position: relative;
    left: 20%;
    padding: 10px;
    font-size: 16px;
    width: 75%;
    word-wrap: break-word;
    color: #D6B9D7;

}

div.paragraph h1 {

    font-size: 20px;
    color: #FF7BAC;

}

div.paragraph, p.about {

    font-family: 'Montserrat';
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 130%;

}

div.paragraph, a, h1 {

    font-family: 'Montserrat';
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 0px;
    position: relative;
    align: center;

}

div.paragraph ul li {

    margin-left: 2%;

}


div.paragraph img {

    position: relative;
    left: 18%;
    padding: 10px;
    width: 280px;
    float: left;
    z-index: 1;

}



.paragraph .realtayla {
    visibility: hidden;
    position: absolute;
    left: 18%;

}

.paragraph:hover .realtayla {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

/* Solid border */
hr.solid {
  border-top: 1px dashed #D6B9D7;
}


div.contact {

    font-family: 'Montserrat';
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 4px;
    position: relative;
    left: 20%;
    padding: 5px;
    color: #FF7BAC;

}



div.contact h1, a.social2, p {

    font-family: 'Montserrat';
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 0px;
    position: relative;
    margin-top: 10px;
    left: 16%;
    color: #D6B9D7;

}

div.contact h1.contact_me {

    color: #FF7BAC;

}

div.contact h1 {

    padding: 5px;
    color: #FFFF00;
    left: 16%;

}


div.contact h2 {

    position: relative;
    color: #D6B9D7;
    left: 16.3%;
    letter-spacing: 0px;

}

div.contact h2.com {

    left: 0%;
    top: 0%;

}


div.contact img {

    position: relative;
    left: 16%;

}

div.contact img.code {

    position: absolute;
    float: left;
    left: 0%;
    top: 5%;

}

table.form {

    position: relative;
    left: 18%;
    font-family: 'Montserrat';
    display: block;
    margin: 1%;
    color: #D6B9D7;


}

input.button {

    position: relative;
    left: 18%;
    padding: 1%;
    margin-top: 1%;

}


 /* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

   header {

    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    background: #000000;
    z-index: 1;


   }

   .gallery {

    left: 0%;
    width: 100%;

   }

    .row {

      padding: 5px;

    }

    /* Create four equal columns that sits next to each other */
    .column {

      padding: 5 5px;

    }

    .column img {

      margin-top: 5px;

    }


    div.paragraph h1, ul.new_ul {

        position: relative;
        left: 5%;

    }



    div.paragraph p {

        position: relative;
        left: 5%;

    }

    div.paragraph img.tayla {

        position: relative;
        left: 0%;

    }

    div.paragraph img.realtayla {

        position: absolute;
        left: 0%;

    }




    div.contact {

        position: relative;
        left: 0%;

    }

    div.contact h1, a.social2, p {

        position: relative;
        left: 0%;


    }


    div.contact h1 {

        left: 0%;

    }


    div.contact h2 {

        position: relative;
        left: 0.3%;

    }


    div.contact h2.com {

        left: 0%;
        top: 0%;

    }


    div.contact img {

        position: relative;
        left: 0%;

    }

    div.contact img.code {

        position: relative;
        align: center;

    }

    table.form {

        position: relative;
        left: 0%;

    }

    input.button {

        position: relative;
        left: 0%;
        margin-left: 1%;
        margin-bottom: 1%;

    }


}





/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}