{% extends 'base/base.html' %}


{% block title %}
Tayla Belinot - About Me
{% endblock title %}

{% block body %}
    <div id="paragraph">

        <h1>About Me</h1>
        <p>
            Hey there! My name is Tayla and my favorite thing in the world is telling stories through art! Right now I'm a freelancer based in Brazil with interests in working and studying abroad.
        I'm always experimenting with different forms of digital media; illustration, comics, animation, you name it! I like to use bold colors and lights to find new and interesting directions to art.
        I have a degree in architecture from Universidade Federal do Rio de Janeiro, which helped me gain an understanding on how to compose a scene and convey depth through my linework.
        I've been in love with art, animation, and comics for as long as I can remember. If I can bring a bit of mischievous energy to what I do then I will, because if it makes me giggle it's worth doing!
        </p>

        <h1>Events I’ve been part of:</h1>

        <ul>Feira da providência 2019

        Ressaca Friends São Paulo 2019

        Salão Carioca do Livro (LER) 2019

        Feira independente de Qualquer Coisa 2019</ul>


        <h1>Learning stuff and all that:</h1>

         <ul>Quanta Art Academy, Storyboard Online Summer Course 2020

          Quanta Art Academy, Digital Animation Fundamentals Online Summer Course 2020

          Udemy, Complete course for Clip Studio Paint Illustration 2019

          Universidade Federal do Rio de Janeiro, bachelor degree in architecture and urbanism 2018
         </ul>


        <h1>Stuff I did:</h1>

         <ul>Freelance Illustrator, Self Employed 2019 - present

         Monitora de Análise Urbana e da Paisagem 2016 - 2017

         Freelance Interior designer 2015

         Freelance Character Designer for Brazil Games 2014
         </ul>

    </div>

<!--	<footer>

	    <div class="col">
    	    {% now 'Y' %} All images copyright by Tayla Belinot, 2017 - 2020.
        </div>

	</footer> -->

{% endblock body %}

</body>



</html>