{% extends 'base/base.html' %}

{% load static %}

{% block title %}
Tayla Belinot - Contact Me
{% endblock title %}

{% block body %}


<div class="contact">

    <h1 class="contact_me">Contact Me</h1>

    <br>



                <h2>Email: taylabelinot@gmail.com</h2>

                <br>

                <img alt="Logo" src="{% static 'img/instagram.png' %}" name='instagram-logo' width="40" height="40">
                <a class="social2" href="https://www.instagram.com/taylabelinot" target="_blank">FOLLOW ME ON INSTAGRAM</a>

                <br>
                <br>

                <img alt="Logo" src="{% static 'img/twitter.png' %}" name='twitter-logo' width="40" height="40">
                <a class="social2" href="https://www.twitter.com/taylabelinot" target="_blank">FOLLOW ME ON TWITTER</a>

                <br>
                <br>

                <br>
                <img class="code" alt="qrcode" src="{% static 'img/qrcode.jpeg' %}" name='qrcode'>
                <br>

                <br>
                <h2 class="com">Comissions: open!</h2>


</div>

    <form method="POST">
            {% csrf_token %}
        <table border="1" class="form">
            {{form}}
        </table>
        <input type="submit" value="Submit" class="button"/>
    </form>

{% endblock body %}



