{% extends 'base/base.html' %}

{% load static %}

{% block title %}
Tayla Belinot - Contact Me
{% endblock title %}

{% block body %}


<div class="contact">

    <h1 class="contact_me">Contact Me</h1>

    <br>



                <h2>Email: taylabelinot@gmail.com

                <br>
                    <br>

                    Comissions: Open!

                </h2>

                <img class="code" alt="qrcode" src="{% static 'img/qrcode.jpeg' %}" name='qrcode'>

                <!--<img class="social2" alt="Logo" src="{% static 'img/instagram.png' %}" name='instagram-logo' width="40" height="40">
                <a class="social2" href="https://www.instagram.com/taylabelinot" target="_blank">FOLLOW ME ON INSTAGRAM</a>

                <br>
                <br>

                <img class="social2" alt="Logo" src="{% static 'img/twitter.png' %}" name='twitter-logo' width="40" height="40">
                <a class="social2" href="https://www.twitter.com/taylabelinot" target="_blank">FOLLOW ME ON TWITTER</a>

                <br>
                <br>

                <br>-->

{% if message %}
	<div class='thanks'>
		<h2>Thank you for contacting me!
		<br>
		    I'll answer you as soon as possible.
		<br>
		    Obrigada!</h2>
	</div>

{% else %}
    <div class="container">
        <form action="{% url 'contact_me' %}" method="POST">
        {% csrf_token %}
     <div class="row">
      <div class="col-75">
        <input type="text" id="name" name="name" placeholder="Your name">
      </div>
    </div>
    <div class="row">
      <div class="col-75">
        <input type="text" id="email" name="email" placeholder="Your email">
      </div>
    </div>
    <div class="row">
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Your message here! ^.^" style="height:200px"></textarea>
      </div>



    </div>

            <div class="button">
             <input class="button" type="button" value="Send Message!">
        </div>


  </form>
</div>


{% endif %}
</div>

{% endblock body %}
