{% extends 'base/base.html' %}

{% load static %}

{% block body %}
	<div class="gallery">
		<div class="row">
		  <div class="column">
						<img class="myImg" src="{% static 'img/12.png' %}"/>
						<img class="myImg" src="{% static 'img/10.png' %}"/>
						<img class="myImg" src="{% static 'img/8.png' %}"/>
						<img class="myImg" src="{% static 'img/2.jpg' %}"/>
		  </div>
		  <div class="column">

						<img class="myImg" src="{% static 'img/1.jpg' %}"/>
						<img class="myImg" src="{% static 'img/6.png' %}"/>
						<img class="myImg" src="{% static 'img/11.png' %}"/>

		  </div>
		  <div class="column">
						<img class="myImg" src="{% static 'img/7.png' %}"/>
			  			<img class="myImg" src="{% static 'img/5.jpg' %}"/>
			  			<img class="myImg" src="{% static 'img/9.png' %}"/>
			  			<img class="myImg" src="{% static 'img/3.png' %}"/>
						<img class="myImg" src="{% static 'img/4.png' %}"/>

		  </div>
		</div>

		<!-- The Modal -->
		<div id="myModal" class="modal">

		  <!-- The Close Button -->
		  <span class="close">&times;</span>

		  <!-- Modal Content (The Image) -->
		  <img class="modal-content" id="img01">

		  <!-- Modal Caption (Image Text) -->
		  <div id="caption"></div>
		</div>

	</div>




{% endblock body %}
