{% extends 'base/base.html' %}

{% load static %}

{% block title %}
Tayla Belinot - Contact Me
{% endblock title %}

{% block body %}


<div class="contact">

    <h1 class="contact_me">Contact Me</h1>

    <br>



                <!--<img class="social2" alt="Logo" src="{% static 'img/instagram.png' %}" name='instagram-logo' width="40" height="40">
                <a class="social2" href="https://www.instagram.com/taylabelinot" target="_blank">FOLLOW ME ON INSTAGRAM</a>

                <br>
                <br>

                <img class="social2" alt="Logo" src="{% static 'img/twitter.png' %}" name='twitter-logo' width="40" height="40">
                <a class="social2" href="https://www.twitter.com/taylabelinot" target="_blank">FOLLOW ME ON TWITTER</a>

                <br>
                <br>

                <br>-->

	<div class='thanks'>
		<h2>Thank you for contacting me!
		<br>
        <br>
		    I'll answer you as soon as possible.
        <br>
		<br>
		    Obrigada!</h2>
	</div>

{% endblock body %}
